<div fxFlex>
  <mat-nav-list fxFlex
                fxLayout="column">

    <div fxLayout="row"
         class="fxMargin search-chat-container"
         fxFlex>

      <div fxLayout="row"
           class="search-chat-container">
        <input [(ngModel)]="searchFilter"
               (change)="filterList()"
               class="search-chat-input"
               type="text"
               fxFlex
               placeholder="Buscar o empezar un chat nuevo..">
      </div>
    </div>

    <mat-list-item *ngFor="let item of userList"
                   (click)="selectChat(item)">

      <img [src]="item.avatar | noimage"
           matListAvatar />

      <div fxLayout="column"
           fxFlex>
        <div class="message-container"
             fxLayout="row"
             fxLayoutAlign="space-between center"
             fsxFlex>
          <span class="mat-small"> {{item.name}} </span>
          <span class="mat-small"> 12/03/1997 </span>
        </div>

        <div class="message-container"
             fxLayout="row">
          <span class="mat-small"> Mensaje </span>
        </div>
      </div>

      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-nav-list>
</div>
