<div fxFlexFill
     fxLayout="column"
     fxLayoutAlign="center center"
     class="master-general-container">
  <mat-card class="master-content-container">
    <mat-drawer-container fxFlexFill
                          class="containers"
                          fxFlexLayout="column">
      <mat-drawer #drawer
                  class="contents"
                  [(opened)]="openedSideBar"
                  [mode]="openedSideBarMode"
                  class="left-drawer-container">
        <app-chat-contacts (selectionUser)=changeUserSelected($event)></app-chat-contacts>
      </mat-drawer>

      <mat-drawer-content fxLayout="column"
                          (scroll)="onElementScroll($event)">
        <app-chat-window *ngIf="userSelected !== null"
                         [userAuthenticate]="userAuthenticate"
                         [userSelected]="userSelected"
                         (logoutHandler)="logout()"
                         fxFlex></app-chat-window>
      </mat-drawer-content>

    </mat-drawer-container>
  </mat-card>
</div>
