<div fxFlexFill fxLayout="column" class="containers" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div fxFlex fxLayout="row" fxLayoutAlign="center center">
      <span class="mat-title">Realtime chat demo</span>
    </div>
    <div fxHide.xs="true" fxFlex fxLayout="row" fxLayoutAlign="center center">
      <span class="mat-title principal-label"></span>
    </div>
  </div>

  <mat-card class="login-content" fxLayout="column" fxLayoutAlign="center flex">
    <div class="progress-bar-container">
      <mat-progress-bar mode="indeterminate" *ngIf="progressLinear"></mat-progress-bar>
    </div>

    <form class="example-form" fxLayout="column">
      <div fxFlex fxLayout="row" class="fx-margin">
        <div *ngFor="let message of messages">{{message.message}}</div>
      </div>

      <mat-form-field fxFlex fxLayout="row">
        <textarea fxFlex matInput placeholder="Textarea"></textarea>
      </mat-form-field>
    </form>
  </mat-card>

  <div class="fxMargin">
    <span class="version-app">Version 0.0.1</span>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button color="accent" (click)="logout()">Salir</button>
  </div>
</div>
