/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.general-container{
    height: 100%;
    width: 100%;
}

.fxMargin {
  margin: 16px;
}

// Mediaquery para formulario de una sola columna en xs.
@media (min-width: 599px) {
  .login-content { min-width: 500px;  height: auto !important;}
}
